<div class="container">
  <div class="container-inner inner-sm clearfix">
    <div class="item-single-box">
      <div class="image">
        <div class="img-wrap">
          <%= image_tag('pic2.jpg', {alt: ""}) %>
        </div>
      </div>
      <div class="title">ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ</div>
    </div>
    <div class="item-single-detail">
      <div class="detail-box">
        <h4 class="detail-box-title">タイトル</h4>
        <div class="detail-box-body">ほげほげ</div>
      </div>
      <div class="detail-box">
        <h4 class="detail-box-title">タイトル</h4>
        <div class="detail-box-body">ほげほげ</div>
      </div>
      <div class="detail-box">
        <h4 class="detail-box-title">タイトル</h4>
        <div class="detail-box-body">ほげほげ</div>
      </div>
    </div>
  </div>
</div>