/*
 *= require_tree .
 *= require_self
 */

@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";

@mixin p-base {
/*
  background-color: white;
  color: blue;
*/
}

$title-color: #3b9e3e;

p {
  color: $title-color;
  @include p-base;
}
